html,body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 10px;
    
    

}
body{
    margin:0;
    padding:0;

}
body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    background-color:hsl(210, 60%, 98%) ;
}
.container{
    margin:1rem;
    height:75rem;
    width:36rem;
    background:hsl(0, 0%, 100%) ;
    box-shadow: 0 0 7px #d4dada, 0 0 5px #d5dada;
    position:absolute;
    top:5rem;
    padding:1.5rem 1rem;
    border-radius:.5rem;
    
}
header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:2rem;
    margin-left:1rem;
    margin-right: 3rem;
}
.box{
    display:flex;
    align-items: center;
}
#notifications{
    background-color: hsl(219, 85%, 26%);
    margin-left:.5rem;
    width:1.8rem;
    height:1.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    color:hsl(0, 0%, 100%);
    font-weight: 800;
    border-radius: .3rem;
}
.markRead{
    cursor:pointer;
}
.markRead:hover{
    color:  hsl(219, 14%, 63%);
}
P{
    color: hsl(219, 12%, 42%);
}
.notifyBox{
    display:flex;
    flex-direction: column;
    gap:0.2rem;
}
.subContainer{
    display:flex;
    align-items:center;
    border-radius:.5rem;
    padding:1rem;
}
img{
    width:3.75rem;
}
.description{
    margin-left:1rem;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
strong{
    color:hsl(224, 21%, 14%);
    cursor: pointer;
}
strong:hover{
    color:hsl(219, 85%, 26%);
}
.unread{
    background-color: hsl(211, 68%, 94%);
}
.messageCard{
    display:flex;
    align-items:center;
}
.privateMessage{
    padding:1rem;
    border:1.5px solid hsl(205, 33%, 90%);
    cursor:pointer;
    margin:0 0 0 5rem;
    border-radius: 0.3rem;

}
.privateMessage:hover{
    background-color: hsl(211, 68%, 94%) ;

}
.chessImage{
    margin-left: auto;

}
.unread p:first-of-type::after{
    content:"";
    background-color:hsl(1, 90%, 64%) ;
    width:5px;
    height: 5px;
    display:inline-block;
    border-radius: 50%;
}
.link{
    color:hsl(219, 85%, 26%);
}


@media  screen and(max-width:560px) {
    .container{
        margin:0;
        
    }
}